<div class="container">
    <div class="search">
        <mat-form-field appearance="outline">
            <mat-label>Search for a github user</mat-label>
            <input type="text" matInput autocomplete="off" [formControl]="usernameToFind" (keyup.enter)="showDialog()">
            <mat-error>Informe o Username</mat-error>
        </mat-form-field>
        
        <button [disabled]="usernameToFind.invalid" mat-flat-button color="primary" (click)="showDialog()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>